extends layout

block content
  h1= title

  - let items = results;

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/grass/update?id=${item._id}\")`
        div(class="row-sm-2 m-1")
          Item #{item.Grass_Name}(#{item.Grass_color}) is #{item.Height}
          button.btn(class="btn-primary ml-1", onclick=destination) Update

  script.
    function dispatch(path) {
      window.location.href = path;
    }